.container {
    width: 90%;
    max-width: 1400px;
    margin: 170px auto 0 auto;
    display: flex;

    .image__container {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        transform: translate(-10%, -10%) scale(1) rotate(-10deg);
        animation: navegate 5s 6s infinite ease-in-out alternate;

        .image {
            width: auto;
            animation: growRotate 6s ease-in-out;
        }
    }

}

@keyframes growRotate {
    from {
      transform: translate(-50%, -50%) scale(0) rotate(-720deg);
    }
    to {
      transform: translate(-10%, -10%) scale(.9) rotate(-10deg);
    }
}

@keyframes navegate {
    from {
        transform: translate(-10%, -10%) scale(1) rotate(-10deg);
    }
    to {
        transform: translate(10%, -10%) scale(.9) rotate(10deg);
    }
}