.container {
    width: 40%;
    padding: .5rem;
    border: 2px solid #9c68b4;
    background-color: #9c68b4;
    color: #FFF;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: .2rem;
    transition: background .4s ease-in, color .4s ease-out;

    &:hover {
        background-color: #FFF;
        color: #9c68b4;
        cursor: pointer;
    }

    &:active {
        margin-top: .5rem;
        background-color: #FFF;
        color: #9c68b4;
        cursor: pointer;
    }

}