.header {
    width: 90%;
    max-width: 1400px;
    margin: 50px auto 0;
    padding: 12px;
    border-radius: 30px;
    background-color: #9c68b425;
    backdrop-filter: blur(30px);
    box-shadow: inset 0 0 20px 0 #9c68b4, 0 0 20px 0 #9c68b4;

    .icon {
        display: none;
    }

    .navegation {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;

        li,
        a {
            color: #FFF;
            font-weight: 500;
            font-size: 1.2rem;
            letter-spacing: 1.2px;
            transition: transform 0.3s ease-in-out, font-weight 0.2s ease-in-out;

            &:hover {
                transform: scale(1.2);
                color: #ae00ff;
                text-shadow: 1px 1px 10px #ae00ff;
            }

            @media (min-width: 590px) and (max-width: 920px) {
                font-size: 1rem;
            }
        }
    }

    @media (max-width: 590px) {
        width: max-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: fixed;
        top: 1px;
        right: 8px;
        z-index: 999;
        border-radius: 10px;
        padding: 10px;
        transition: width 2s ease-in-out;

        .icon {
            display: inline;
            align-self: self-end;
        }

        .navegation {
            display: flex;
            width: 200px;
            margin-top: 5px;
            padding: 10px;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            gap: 10px;
            transition: display 2s ease-in-out;
            animation: slide 1s ease forwards;


            li {
                border-bottom: 1px solid #9c68b4a1;
                text-align: center;

                a {

                    color: #FFF;
                    font-weight: 500;
                    font-size: 1.2rem;
                    letter-spacing: 1.2px;
                }
            }
        }


    }
}

@keyframes slide {
    from {
        opacity: .1;
    }

    to {
        opacity: 1;
    }
}