.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2px;
    padding: 10px;
    text-align: justify;
    

p {
    font-size: 1.2rem;
}
}