.container {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 1.5rem;
  overflow: hidden;

  .title {
    font-weight: 500;
    font-size: 3rem;
    line-height: 1.5;
  }

  .sliding {
    width: 200%;
    overflow: hidden;
    position: relative;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
    display: flex;

    .content {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      padding: 1rem;
      flex: 0 0 50%;

      @media (max-width: 1500px) {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }

  .control {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    .button {
      background-color: white;
      border: 3px solid #B093BD;
      border-radius: 10px;
      padding: 1rem;
      text-align: center;
      color: #B093BD;
      font-size: 1.2rem;
      font-weight: 800;
      cursor: pointer;

      &.active {
        background-color: #62287C;
        border: 3px solid #62287C;
        color: white;
      }

      &:hover {
        background-color: #B093BD;
        color: white;
      }
    }
  }

  .next,
  .prev {
    position: absolute;
    top: 50%;
    transition: transform .3s ease-in;

    &.disable {
      pointer-events: none;
      .icon {
        color: #b093bd9d;
      }
    }

    &:not(.disable):hover {
      transform: scale(1.1);
      cursor: pointer;
    }
  }

  .next {
    right: 0;
  }

  .prev {
    left: 0;
  }
}

.icon {
  width: 40px;
  height: 40px;
  color: #62287C;
}