.container {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 1.5rem;

  .title {
    font-weight: 500;
    font-size: 3rem;
    line-height: 1.5;
  }

  .content {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 1rem;
  }

  .control {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    .button {
      background-color: white;
      border: 3px solid #B093BD;
      border-radius: 10px;
      padding: 1rem;
      text-align: center;
      color: #B093BD;
      font-size: 1.2rem;
      font-weight: 800;
      cursor: pointer;
    }
  }

  .next {
    position: absolute;
    right: 0;
    top: 50%;
    cursor: pointer;
  }

  .prev {
    position: absolute;
    left: 0;
    top: 50%;
    cursor: pointer;
  }
}

.icon {
  width: 40px;
  height: 40px;
}