.container {

  .title {
    font-weight: 500;
    font-size: 3rem;
    margin-bottom: 1.5rem;
    line-height: 1.5;
  }

  .content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
  }
}