.card__container {

    width: 100%;
    display: flex;
    align-items: center;
    justify-items: center;

    @media (max-width: 1400px) {
        width: 90%;
    }

    @media (min-width: 580px) {
        animation: growRotate 6s ease-in-out;
    }


    .description__container {
        width: 100%;
        color: #FFF;
        height: max-content;
        background-color: #9c68b425;
        box-shadow: inset 0 0 20px 0 #9c68b4, 0 0 20px 0 #9c68b4;
        backdrop-filter: blur(30px);
        border-radius: 30px;
        padding: 25px;
    
        display: flex;
        flex-direction: column;

        h1 {
            font-size: 3rem;
            font-weight: 500;
            text-decoration: underline;

            @media (max-width: 1400px) {
                font-size: 2.2rem;
            }

            @media (max-width: 580px) {
                font-size: 2rem;
            }

        }

        span {
            font-size: 1.5rem;
            font-weight: 300;

            @media (max-width: 1400px) {
                font-size: 1.2rem;
            }

            @media (max-width: 580px) {
                font-size: 1rem;
            }
        }
        
        button {
            width: max-content;
            background-color: #ae00ff42;
            box-shadow: inset 0 0 10px 0 #ae00ff, 0 0 10px 0 #ae00ff; 
            border: none;
            border-radius: 30px;
            padding: 15px;
            color: rgb(255, 255, 255);
            font-size: .9rem;
            font-weight: 600;
            margin-top: 20px;
            transition: background .5s ease-in-out, transform .8s ease-in-out;
            animation: animationButton 2s infinite;
            

            &:hover {
                background-color: transparent;
                transform: scale(1.1);
                cursor: pointer;
                animation: none;
            }

            @media (max-width: 580px) {
                font-size: .7rem;
            }
        }
    
        .icons__container {
            width: 100%;
            display: flex;
            gap: 1rem;
            margin-top: 30px;

            .icon {
                width: 35px;
                object-fit: cover;
                transition: transform .5s ease-in-out;

                &:hover{
                    transform: scale(1.3);
                }

                @media (max-width: 580px) {
                    width: 30px;
                }
            }
            
        }
    }

    @media (max-width: 580px) {
        margin-top: -100px;
    }
}

@keyframes animationButton {
    60% {
        box-shadow: inset 0 0 30px 0 #ae00ff, 0 0 10px 0 #ae00ff; 
    }
}   

@keyframes growRotate {
    from {
      transform: translate(50%, -50%) scale(0) rotate(-720deg);
    }
    to {
      transform: translate(0, 0) scale(1) rotate(0);
    }
}

