.title {
  font-size: 1.2rem;
  font-weight: 900;
  color: #62287C;

  .arrow {
    font-size: 1rem;
    color: #B0B4AD;
    font-weight: 600;
  }

  .tag {
    font-size: 1rem;
    color: #E42445;
  }
} 