.container {
  width: 100%;
  height: fit-content;
  max-width: 300px;
  background-color: rgba(98, 40, 124, 0.5);
  border-radius: .8rem;
  border: 3px solid #62287C;

  .list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: .5rem 1.5rem;

    .item {
      width: 100%;
      text-align: center;
      line-height: 1.5;
      color: #fff;
      font-weight: 500;
      font-size: 1.2rem;
      padding: 1rem;
      border-bottom: 1px solid #62287C;
      cursor: pointer;
      transition: font-weight 0.2s;

      &:hover {
        font-weight: 700;
      }
    }
  }
}